.pioenvs
.piolibdeps
*.swp
compile_*.sh
.vscode/arduino.json
.vscode/c_cpp_properties.json
.vscode/settings.json
doxygen/*/
CMakeCache.txt
CMakeFiles
Makefile
bin/
cmake_install.cmake
compile_commands.json
